body{
    justify-items: center;
    justify-content: center;
}
.container{
    display: flex;
    background-color: aliceblue;
    height: 10vh;
    width: auto;
    margin:0 0 0 0;
    padding: 0 0 0 0;
}

#mylogoimg{
    /*display: flex;*/
    justify-content: center;
    border: solid black 1px;
    border-radius: 10%;
}

.navbar{
    margin-left: 10vw;
}