.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper img {
    margin-right: 20px; /* Adjust margin as needed */
}

nav {
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a {
    text-decoration: none;
    color: black; /* Adjust color as needed */
    padding: 0 10px; /* Adjust padding as needed */
}

nav a:hover {
    text-decoration: underline; /* Optional hover effect */
}

#deepak{
    margin-top: 30px;
    margin-left: 10%;
    display: flex;
}
#imgIntro{
    display: flex;
}